@charset "UTF-8";
@font-face {
  font-family: 'Lato-Regular';
  src: url("../fonts/Lato/Lato-Regular.ttf"); }

@font-face {
  font-family: 'Lato-Medium';
  src: url("../fonts/Lato/Lato-Medium.ttf"); }

@font-face {
  font-family: 'Lato-Semibold';
  src: url("../fonts/Lato/Lato-Semibold.ttf"); }

@font-face {
  font-family: 'Rubik-Bold';
  src: url("../fonts/Rubik/Rubik-Bold.ttf"); }

@font-face {
  font-family: 'Rubik-Medium';
  src: url("../fonts/Rubik/Rubik-Medium.ttf"); }

@keyframes showElement {
  0% {
    opacity: 0;
    top: -75px; }
  100% {
    opacity: 1;
    top: 0; } }

body {
  margin: 0px; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

button {
  cursor: pointer; }

.header {
  box-shadow: 0 5px 5px -5px #000;
    box-shadow-width: 100%;
    box-shadow-background-color: #fff; }

.header_fixed {
  position: fixed;
  top: 0;
  left: 0;
  animation: showElement;
  animation-duration: 1s;
  width: 100%;
  background-color: #fff; }

.header__container {
  max-width: 1170px;
  margin: 0 auto; }

.wrapper {
  max-width: 1170px;
  margin: 0 auto; }

.wrapper__container {
  margin-top: 20px;
  display: flex;
  flex-direction: row; }

.listMenu {
  display: flex;
  float: right;
  margin-right: 20px; }

.listMenu__item {
  margin-right: 20px; }

.listMenu__item a {
  color: #1A212F;
  font-family: 'Lato-Semibold'; }

.listMenu__item a:hover {
  color: #F05B1B;
  transition: 0.3s; }

.menu {
  display: none; }

.title {
  font-family: Rubik-Bold;
  font-size: 36px; }

.form h4 {
  font-family: 'Lato-Medium'; }

.form {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-family: Lato-Regular;
  width: 30%;
  margin-top: 40px; }

.form__price_per_day {
  display: flex;
  flex-direction: row; }

.inputBox {
  display: flex;
  flex-direction: row;
  border: 1px solid #E1E1E1;
  width: 70px;
  margin-right: 10px;
  font-size: 12px;
  padding-left: 5px;
  font-family: Lato-Regular; }

.inputBox:focus {
  outline: 1px solid #F05B1B; }

.inputBox span {
  margin-top: 3px; }

.checkbox {
  cursor: pointer; }

.checkbox label {
  cursor: pointer; }

.form__price_per_day__input {
  width: 50px;
  height: 20px;
  outline: none;
  border: 0px;
  font-family: Lato-Regular; }

.form__room_facilities {
  display: flex;
  flex-direction: column; }

.form__area {
  display: flex;
  flex-direction: column; }

.form__button {
  width: 142px;
  height: 42px;
  border-radius: 25px;
  border: none;
  margin-top: 20px;
  outline: none; }

.buttom_apply {
  background-color: #FAC663; }

.buttom_apply:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  border: 2px solid #FAC663;
  transition: 0.3s; }

.buttom_reset {
  border: 2px solid #FAC663;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: #fff; }

.buttom_reset:hover {
  background-color: #FAC663;
  transition: 0.3s;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.5); }

.checkbox {
  margin-bottom: 10px; }

.cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  width: 1000px; }

.cards__card {
  width: 270px;
  height: 428px;
  margin: 30px;
  border-radius: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); }

.cards__card__image {
  width: 270px;
  height: 182px; }

.card_text {
  padding: 10px;
  display: flex;
  font-size: 14px;
  flex-direction: column;
  font-family: Lato-Regular; }

.card_text span {
  margin-top: 13px; }

.card_cost {
  font-family: 'Lato-Medium';
  font-size: 18px; }

.card_text h2 {
  font-family: 'Rubik-Medium'; }

.card__title {
  margin: 0px; }

.card__button {
  background-color: #FF7236;
  width: 230px;
  height: 46px;
  border: none;
  border-radius: 25px;
  margin-top: 13px;
  box-shadow: 0 5px 5px -5px #000;
  color: #FFFEFD;
  font-size: 14px;
  margin-left: 10px; }

.card__button:hover {
  transition: 0.3s;
  background-color: #F05B1B;
  box-shadow: 0 0px 0px 0px #000; }

.cards__card__paw {
  float: right;
  margin-top: 5px; }

.card__button__text {
  float: left;
  margin-left: 50px;
  display: block;
  margin-top: 10px; }

.form_select-box {
  width: 200px;
  float: right;
  height: 30px;
  font-family: Lato-Regular;
  font-size: 15px; }

.select-box {
  cursor: pointer;
  position: relative;
  width: 100%; }

.select,
.label {
  display: block; }

.select {
  width: 100%;
  position: absolute;
  top: -15px;
  padding: 5px 0;
  height: 40px;
  opacity: 0;
  border-radius: 10px; }

.select-box1 {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  border-radius: 10px; }

.label {
  position: relative;
  padding: 5px 10px; }

.open .label::after {
  content: "▲"; }

.label::after {
  content: "▼";
  font-size: 12px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 15px;
  border-left: 5px solid #fff; }
